a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
print('hello world')

hello world

In [5]:
print(123)

123

In [7]:
age=32
print('my age is:',age)

my age is: 32

In [8]:
##  f string
print(f"mt age is : {age}")

mt age is : 32

In [10]:
## format ()
name="soumo"
age=25
print("My age is {} and my name is {}".format(age,name))

My age is 25 and my name is soumo

In [12]:
##placeholder
print("My age is {firstage} and my name is {firstname}".format(firstage=age,firstname=name))

My age is 25 and my name is soumo

In [16]:
name="soumo"
age=25
degree="M.Sc Physics"

print("My name is {} and my age is {} and i have completed {}".format(name,age,degree))

My name is soumo and my age is 25 and i have completed M.Sc Physics

In [17]:
print("My name is {firstname} and my age is {firstage} and i have completed {firstdegree}".format(firstname=name,firstage=age,firstdegree=degree))

My name is soumo and my age is 25 and i have completed M.Sc Physics

## control flow 
## decision making statement

In [20]:
## if statement
age=18
##we have three operations ==,>=,<=
if age >=18:
    print("you are elegible to vote")

you are elegible to vote

In [28]:
## if statement
age=20
##we have three operations ==,>=,<=
if age <18:
    print("you are not elegible to vote")
if age >= 18:
        print("you are eligible to vote")

you are eligible to vote

In [29]:
name=input("enter the name")

enter the name soumo biswas

In [30]:
name

'soumo biswas'

In [31]:
type(input)

method

In [33]:
age=int(input("enter the age"))

enter the age 25

age

In [35]:
type(age)

int

# Task
# take a input of age 
# check weather age >= 18 and age <=45
# display a message you are young blood

In [43]:
## solution
## we have to do the type typecasting
age=int(input("enter your age"))
if age >= 18 and age <= 45:
        print("young blood")

enter your age 22

young blood

In [51]:
## solution
## we have to do the type typecasting
age=int(input("enter your age"))
if age >= 18 and age <= 45:
        print("young blood")

enter your age 22

young blood

In [52]:
## solution
## we have to do the type typecasting
age=int(input("enter your age"))
if age >= 18 and age <= 45:
        print("young blood")

enter your age 55

In [53]:
## nothing is getting printed

## we use if else statement

## solution
## we have to do the type typecasting
age=int(input("enter your age"))
if age >= 18 and age <= 45:
        print("young blood") 
else:
    print("yor are not an young blood")

enter your age 14

yor are not an young blood

## QUESTION 
we have a 10% discount on any product >= RS 1000
product <= 1000, we get 30% discount
print the product price after the discount

In [60]:

amt = int(input("ENTER THE PRICE OF THE PRODUCT"))
if amt>= 1000:
    finalprice= (amt-(0.2*amt))
else:
    finalprice=(amt-(0.3*amt))
print("the final price :",finalprice)

ENTER THE PRICE OF THE PRODUCT 5000

the final price : 4000.0

In [59]:
amt = int(input("ENTER THE PRICE OF THE PRODUCT"))
if amt>= 1000:
    print("the final price {} ".format(amt*0.8)) 
else:
    print("the final price {} ".format(amt*0.7))

ENTER THE PRICE OF THE PRODUCT 5000

the final price 4000.0

## QUESTION 
we have a 10% discount on any product >= RS 1000
input product price
if product price > 3000 , 20% discount
if product price is in between 2000 and 3000 , 30% off
if product price is less than 2000, 40% off

then print the finall price

In [3]:
amt=int(input("ENTER THE PRICE OF THE PRODUCT :"))

if amt > 3000:
    print("the final price is {} ".format(amt*0.8))
elif amt>=2000 and amt<= 3000:
    print("the final price is {} ".format(amt*0.7))
else:
    print("the final price is {} ".format(amt*0.6))

ENTER THE PRICE OF THE PRODUCT : 200

the final price is 120.0

In [6]:
amt=int(input("ENTER THE PRICE OF THE PRODUCT :"))

if amt > 3000:
    print("the final price is {} ".format(amt*0.8))
elif amt>=2000 and amt<= 3000:
    print("the final price is {} ".format(amt*0.7))
else:
    print("the final price is {} ".format(amt*0.6))

ENTER THE PRICE OF THE PRODUCT : 0

the final price is 0.0

In [9]:
amt=int(input("ENTER THE PRICE OF THE PRODUCT :"))

if amt > 3000:
    print("the final price is {} ".format(amt*0.8))
elif amt>=2000 and amt<= 3000:
    print("the final price is {} ".format(amt*0.7))
elif amt <2000:
    print("the final price is {} ".format(amt*0.6))

ENTER THE PRICE OF THE PRODUCT : 500

the final price is 300.0

## QUESTION 
we have a 10% discount on any product >= RS 1000
input product price
if product price > 3000 , 20% discount
if product price is in between 2000 and 3000 , 30% off
if product price is less than 2000, 40% off
if the price is 2999 then you get an additional price

then print the finall price

In [10]:
amt=int(input("ENTER THE PRICE OF THE PRODUCT :"))

if amt > 3000:
    print("the final price is {} ".format(amt*0.8))
elif amt>=2000 and amt<= 3000:
    print("the final price is {} ".format(amt*0.7))
    if amt==2999:
        print("congrats")
elif amt <2000:
    print("the final price is {} ".format(amt*0.6))

ENTER THE PRICE OF THE PRODUCT : 2999

the final price is 2099.2999999999997
congrats

In [12]:
##  sinle statement suits
val=int(input("inter the number"))
if (val<=999):print("value is less than 999")
else:
    print("go home")

inter the number 1000

go home

## loop statements
1.while loop
2.for loop
3.Nested loops
4.Loop controls(break continue pass)

In [5]:
## while loop
joining_age=25
while joining_age<=60:
      print(joining_age)
      joining_age=joining_age+1
    
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

## question 
lets say we have an ATMM machine it has 1000 rs ,every time a tranaction is done 100 is withdrawn

In [3]:
## atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
      print(total_amount)
      total_amount=total_amount-100
else:
    print ("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

## FOR LOOPS

In [1]:
lst=["soumo",1,2,3,4,"apple","banana"]

In [2]:
lst

['soumo', 1, 2, 3, 4, 'apple', 'banana']

In [3]:
type(lst)

list

In [4]:
lst[2]
lst[0]

'soumo'

In [5]:
print(lst[0])
print(lst[5])

soumo
apple

In [8]:
### nested loops
## range(start and stop)
n=7
for i in range(1,6,2):
    print(i)

1
3
5

In [20]:
n=9
for i in range(0,n):
    for j in range (0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******
********
*********

In [2]:
fruit_list=["mango","apple","banana","cherry","lichi","watermelon"]
for i in fruit_list:
    print(i)

mango
apple
banana
cherry
lichi
watermelon

In [12]:
for i in fruit_list:
    print(i)
    if i=="banana":
        print("the fruit is banana")

mango
apple
banana
the fruit is banana
cherry
lichi
watermelon

## question
write a program to draw a right angle triangle with "*"

In [15]:
n=int(input("enter the size : "))

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

enter the size :  15

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [30]:
n=int(input("enter the size : "))

for i in range(0,n):
    for j in range(0,n):
        if (j<(i)/2):
            print(" ",end="")
        else:
            print("*",end="")
    print("\r")

enter the size :  6

******
 *****
 *****
  ****
  ****
   ***

In [1]:
## Assignments 

size = int(input("Enter the triangle Length:"))
for i in range(size):
    for j in range(size-i):
        print("",end=" ")
    for k in range(i+1) :
        print("*",end="")
    for m in range(k-1):
        print("*", end="")
    print()

Enter the triangle Length: 5

     *
    **
   ****
  ******
 ********